@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); /* Importando fuentes de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); /* Importando fuentes de Google Fonts */

/* Estilos globales */
:root {
    --primary-color: #df1c1a; /* Color primario */
    --secondary-color: #a83338; /* Color secundario */
    --blue-color: #001a70; /* Color azul */
}

html{
    /* margin y padding hace que se quite el predeterminado del navegador */ 
    margin: 0;
    padding: 0;
}